@import 'theme';


#tableau-dark{
  .state-annule,
  .state-inactif{
    background: $color-error;
  }
  .state-option{
    background: $color3;
  }
  .state-confirme,
  .state-actif{
    background: $color-succes;
  }
}

app-template-a #tableau-dark thead{
  background: $light-color;
  color: $dark-color;
}

app-template-b #tableau-dark thead{
  background: $dark-color;
  color: $light-color;
}

